fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai

pinecone-client
langchain-pinecone

google-generativeai

langchain-pymupdf4llm
docx2txt
openpyxl
python-pptx
unstructured
markdown
jq
